In [1]:
console.log('hello world')

hello world

undefined

In [4]:
console.log('This example is different!');
console.log('The result is displayed in the Command Line Interface');

This example is different!
The result is displayed in the Command Line Interface

undefined

In [5]:
// comments
console.log('This example is different!');
// console.log('The result is displayed in the Command Line Interface');

This example is different!

undefined

In [6]:
// multi line comments
/*
console.log('This example is different!');
console.log('This example is different!');
*/

console.log('The result is displayed in the Command Line Interface');

The result is displayed in the Command Line Interface

undefined

In [7]:
// variables
var price1 = 5;
var price2 = 6;
var total = price1 + price2;
console.log(total)

11

undefined

In [11]:
// global scope
var carName = "Volvo";

// code here can use carName

function myFunction() {
  // code here can also use carName
    console.log(carName);
}

myFunction();

Volvo

undefined

In [17]:
// function scope
carName = "";
// code here can NOT use carName

function myFunction() {
  var carName = "Volvo";
  // code here CAN use carName
  console.log(carName + " test car");
}

myFunction();

// code here can NOT use carName
console.log(carName + " outside of function");

Volvo test car
 outside of function

undefined

In [18]:
// Redeclaring Variables

var x = 10;
// Here x is 10
console.log(x);

{
  let x = 2;
  // Here x is 2
  console.log(x);
}

// Here x is 10
console.log(x);

10
2
10

undefined

In [22]:
const PI = 3.141592653589793;
PI = 3.14;      // This will give an error
console.log(PI);
PI = PI + 10;   // This will also give an error
console.log(PI);

SyntaxError: Identifier 'PI' has already been declared

In [28]:
// Operators
var x = 5;         // assign the value 5 to x
var y = 2;         // assign the value 2 to y
var z = x + y;     // assign the value 7 to z (5 + 2)
console.log(z);

var x = 10;
x += 5;
console.log(x);

var txt1 = "John";
var txt2 = "Doe";
var txt3 = txt1 + " " + txt2;
console.log(txt3);

var txt1 = "What a very ";
txt1 += "nice day";
console.log(txt1);

// Adding Strings and Numbers
var x = 5 + 5;
var y = "5" + 5;
var z = "Hello" + 5;
console.log(z);

7
15
John Doe
What a very nice day
Hello5

undefined

In [31]:
// data type
// https://www.freecodecamp.org/news/javascript-data-types-typeof-explained/#:~:text=JavaScript%20Data%20Types%3A%20Typeof%20Explained%20typeof%20is%20a,are%20defined.%20There%20are%20other%20uses%20as%20well.
var length = 16;
console.log(typeof length)

var lastName = "Johlengthson";
console.log(typeof lastName)

var x = {firstName:"John", lastName:"Doe"};    // Object
console.log(typeof x)

number
string
object

undefined

In [32]:
// string
var carName1 = "Volvo XC60";   // Using double quotes
var carName2 = 'Volvo XC60';   // Using single quotes
console.log(carName1)
console.log(carName2)

Volvo XC60
Volvo XC60

undefined

In [33]:
var answer1 = "It's alright";             // Single quote inside double quotes
var answer2 = "He is called 'Johnny'";    // Single quotes inside double quotes
var answer3 = 'He is called "Johnny"';    // Double quotes inside single quotes
console.log(answer1)
console.log(answer2)
console.log(answer3)

It's alright
He is called 'Johnny'
He is called "Johnny"

undefined

In [36]:
// number type
var x1 = 34.00;     // Written with decimals
var x2 = 34;        // Written without decimals
console.log(x1)
console.log(x2)

var y = 123e5;      // 12300000
var z = 123e-5;     // 0.00123
console.log(y)
console.log(2)

34
34
12300000
2

undefined

In [39]:
// array
var cars = ["Saab", "Volvo", "BMW"];

undefined

In [40]:
console.log(cars)

[ 'Saab', 'Volvo', 'BMW' ]

undefined

In [42]:
// object type
var person = {firstName:"John", lastName:"Doe", age:50, eyeColor:"blue"};
console.log(person)

{ firstName: 'John', lastName: 'Doe', age: 50, eyeColor: 'blue' }

undefined

In [44]:
// null
var person = {firstName:"John", lastName:"Doe", age:50, eyeColor:"blue"};
person = null;    // Now value is null, but type is still an object
console.log(person)

null

undefined

In [ ]:
// compare type
typeof undefined           // undefined
typeof null                // object

null === undefined         // false
null == undefined          // true

In [47]:
// function
function myFunction(p1, p2) {
  return p1 * p2;   // The function returns the product of p1 and p2
}

ret = myFunction(1,2);
console.log(ret)

2

2

In [46]:
function toCelsius(fahrenheit) {
  return (5/9) * (fahrenheit-32);
}

toCelsius(77)

25

In [53]:
// code here can NOT use carName
//carName
function myFunction() {
  var carName = "Volvo";
  // code here CAN use carName
  console.log(carName);
}

// code here can NOT use carName
console.log(carName)

myFunction();

Volvo

undefined

In [56]:
// object
var person = {
  firstName: "John",
  lastName: "Doe",
  age: 50,
  eyeColor: "blue"
};

console.log(person)

{ firstName: 'John', lastName: 'Doe', age: 50, eyeColor: 'blue' }

undefined

In [57]:
// access object property
person.lastName;

'Doe'

In [58]:
person["lastName"];

'Doe'

In [61]:
// Object method
var person = {
  firstName: "John",
  lastName : "Doe",
  id       : 5566,
  fullName : function() {
    return this.firstName + " " + this.lastName;
  }
};

name = person.fullName();
name

'John Doe'